.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-text-1 {
  font-family: Zametka_Parletter;
  line-height: 1.85;
  letter-spacing: 2px;
  margin: 294px 269px 0 241px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  margin: 20px 269px 60px 241px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 274px;
    margin-left: 141px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 141px;
    margin-right: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 31px;
    margin-right: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 158px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 99px;
  }
} .u-section-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 350px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  font-family: Zametka_Parletter;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 258px;
  grid-auto-columns: calc(16.6667% - 8.33333px);
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-1 {
  font-size: 5.2778em;
}

.u-section-2 .u-container-layout-2 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-3 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-2 {
  font-size: 5.1667em;
}

.u-section-2 .u-container-layout-3 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-4 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-3 {
  font-size: 5.1112em;
}

.u-section-2 .u-container-layout-4 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-5 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-4 {
  font-size: 5.2223em;
  vertical-align: -1px;
  margin-right: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-6 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-5 {
  font-size: 4.2778em;
}

.u-section-2 .u-container-layout-6 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-7 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-6 {
  font-size: 4.2778em;
}

.u-section-2 .u-container-layout-7 {
  padding: 3px 22px 30px;
}

.u-section-2 .u-text-8 {
  line-height: 1.54;
  margin: 0;
}

.u-section-2 .u-icon-7 {
  font-size: 4.2778em;
  vertical-align: 0px;
  margin-right: 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(16.666666666666668% - 8.333333333333334px);
    grid-template-columns: repeat(6, calc(16.666666666666668% - 8.333333333333334px));
  }

  .u-section-2 .u-text-2 {
    margin-top: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 135px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 51px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 351px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
    min-height: 329px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 317px;
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 134px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 13px;
  }

  .u-section-2 .u-gallery-nav-1 {
    top: 200px;
  }

  .u-section-2 .u-gallery-nav-2 {
    left: auto;
    top: 200px;
  }
} .u-section-3 {
  margin-top: 20px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1260px;
}

.u-section-3 .u-text-1 {
  font-family: Zametka_Parletter;
  font-size: 2.25rem;
  margin: 26px auto 0;
}

.u-section-3 .u-group-1 {
  --radius: 30px;
  width: 392px;
  min-height: 536px;
  height: auto;
  margin: 36px auto 0 26px;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 0.75rem;
  font-family: Zametka_Parletter;
  letter-spacing: 0.5px;
  margin: 10px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 208px;
  margin: 17px 14px 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-3 {
  font-size: 0.75rem;
  line-height: 1.45;
  letter-spacing: 0px;
  margin: 17px 36px 0 26px;
}

.u-section-3 .u-group-2 {
  --radius: 30px;
  width: 392px;
  min-height: 522px;
  height: auto;
  margin: 47px 313px 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-3 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-3 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1238px;
  }

  .u-section-3 .u-group-1 {
    min-height: 505px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 107px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 148px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-1 {
    min-height: 502px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-top: 249px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 393px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 348px;
  }
} .u-section-5 {
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 751px;
}
/* page-custom-fonts */
@font-face {
  font-family: 'Zametka_Parletter';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Zametka_Parletter.otf);
}